---
import '../styles/gracias.css'
import PortafolioL from '../layouts/PortafolioL.astro';
---

<PortafolioL>
  <section class="thankyou-section">
    <h1 class="thankyou-title">¡Gracias por tu mensaje!</h1>
    <p class="thankyou-text">He recibido tu mensaje y me pondré en contacto contigo lo antes posible.</p>

    <a href="/" class="thankyou-button">Volver al inicio</a>
  </section>
</PortafolioL>
