---
import '../styles/gracias.css';
import PortafolioL from '../layouts/PortafolioL.astro';
---

<PortafolioL>
  <section class="thankyou-section">
    <img 
      src="/portafolio-personal/images/gracias.png" 
      alt="Ilustración de agradecimiento" 
      class="thankyou-image" 
    />
    
    <h1 class="thankyou-title">¡Mensaje recibido!</h1>
    
    <p class="thankyou-text">
      Gracias por ponerte en contacto. He recibido tu mensaje y te responderé lo más pronto posible.
    </p>

    <a href="/portafolio-personal/" class="thankyou-button">
      Regresar al inicio
    </a>
  </section>
</PortafolioL>
